@font-face {
    font-family: 'Malte Thai';
    src: url('hinted-MalteThaiBold.woff2') format('woff2'),
        url('hinted-MalteThaiBold.woff') format('woff'),
        url('hinted-MalteThaiBold.ttf') format('truetype'),
        url('hinted-MalteThaiBold.svg#MalteThaiBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai Llight';
    src: url('hinted-MalteThaiLlight.woff2') format('woff2'),
        url('hinted-MalteThaiLlight.woff') format('woff'),
        url('hinted-MalteThaiLlight.ttf') format('truetype'),
        url('hinted-MalteThaiLlight.svg#MalteThaiLlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai';
    src: url('hinted-MalteThaiMedium.woff2') format('woff2'),
        url('hinted-MalteThaiMedium.woff') format('woff'),
        url('hinted-MalteThaiMedium.ttf') format('truetype'),
        url('hinted-MalteThaiMedium.svg#MalteThaiMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai Extra';
    src: url('hinted-MalteThaiExtraBold.woff2') format('woff2'),
        url('hinted-MalteThaiExtraBold.woff') format('woff'),
        url('hinted-MalteThaiExtraBold.ttf') format('truetype'),
        url('hinted-MalteThaiExtraBold.svg#MalteThaiExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai';
    src: url('hinted-MalteThaiRegular.woff2') format('woff2'),
        url('hinted-MalteThaiRegular.woff') format('woff'),
        url('hinted-MalteThaiRegular.ttf') format('truetype'),
        url('hinted-MalteThaiRegular.svg#MalteThaiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai';
    src: url('hinted-MalteThaiBlack.woff2') format('woff2'),
        url('hinted-MalteThaiBlack.woff') format('woff'),
        url('hinted-MalteThaiBlack.ttf') format('truetype'),
        url('hinted-MalteThaiBlack.svg#MalteThaiBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai';
    src: url('hinted-MalteThaiThin.woff2') format('woff2'),
        url('hinted-MalteThaiThin.woff') format('woff'),
        url('hinted-MalteThaiThin.ttf') format('truetype'),
        url('hinted-MalteThaiThin.svg#MalteThaiThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai Book';
    src: url('hinted-MalteThaiBook.woff2') format('woff2'),
        url('hinted-MalteThaiBook.woff') format('woff'),
        url('hinted-MalteThaiBook.ttf') format('truetype'),
        url('hinted-MalteThaiBook.svg#MalteThaiBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Malte Thai Extra';
    src: url('hinted-MalteThaiExtraLight.woff2') format('woff2'),
        url('hinted-MalteThaiExtraLight.woff') format('woff'),
        url('hinted-MalteThaiExtraLight.ttf') format('truetype'),
        url('hinted-MalteThaiExtraLight.svg#MalteThaiExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

