@font-face {
    font-family: 'Mosse Thai';
    src: url('hinted-MosseThai-Thin.woff2') format('woff2'),
        url('hinted-MosseThai-Thin.woff') format('woff'),
        url('hinted-MosseThai-Thin.ttf') format('truetype'),
        url('hinted-MosseThai-Thin.svg#MosseThai-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai Extra';
    src: url('hinted-MosseThai-ExtraLight.woff2') format('woff2'),
        url('hinted-MosseThai-ExtraLight.woff') format('woff'),
        url('hinted-MosseThai-ExtraLight.ttf') format('truetype'),
        url('hinted-MosseThai-ExtraLight.svg#MosseThai-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai Extra';
    src: url('hinted-MosseThai-ExtraBold.woff2') format('woff2'),
        url('hinted-MosseThai-ExtraBold.woff') format('woff'),
        url('hinted-MosseThai-ExtraBold.ttf') format('truetype'),
        url('hinted-MosseThai-ExtraBold.svg#MosseThai-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai';
    src: url('hinted-MosseThai-Bold.woff2') format('woff2'),
        url('hinted-MosseThai-Bold.woff') format('woff'),
        url('hinted-MosseThai-Bold.ttf') format('truetype'),
        url('hinted-MosseThai-Bold.svg#MosseThai-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai';
    src: url('hinted-MosseThai-Black.woff2') format('woff2'),
        url('hinted-MosseThai-Black.woff') format('woff'),
        url('hinted-MosseThai-Black.ttf') format('truetype'),
        url('hinted-MosseThai-Black.svg#MosseThai-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai';
    src: url('hinted-MosseThai-Medium.woff2') format('woff2'),
        url('hinted-MosseThai-Medium.woff') format('woff'),
        url('hinted-MosseThai-Medium.ttf') format('truetype'),
        url('hinted-MosseThai-Medium.svg#MosseThai-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai Book';
    src: url('hinted-MosseThai-Book.woff2') format('woff2'),
        url('hinted-MosseThai-Book.woff') format('woff'),
        url('hinted-MosseThai-Book.ttf') format('truetype'),
        url('hinted-MosseThai-Book.svg#MosseThai-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai';
    src: url('hinted-MosseThai-Regular.woff2') format('woff2'),
        url('hinted-MosseThai-Regular.woff') format('woff'),
        url('hinted-MosseThai-Regular.ttf') format('truetype'),
        url('hinted-MosseThai-Regular.svg#MosseThai-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mosse Thai';
    src: url('hinted-MosseThai-Light.woff2') format('woff2'),
        url('hinted-MosseThai-Light.woff') format('woff'),
        url('hinted-MosseThai-Light.ttf') format('truetype'),
        url('hinted-MosseThai-Light.svg#MosseThai-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

